

</div>
<br><br><br>
<hr>
<p class="text-center">&copy; ecommerce</p>
   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/esm/popper-utils.js" integrity="sha256-Fxwx4JC0VO/4EdYrHbDEBXvboZmi+tHYBlFWev8cZqM=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.12.1/standard/ckeditor.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/category.js"></script>
    <script src="/js/product.js"></script>
    <script src="/js/authService.js"></script>
  </body>
</html>
